<!DOCTYPE html>
<html ng-app="runningBob">
	<head>
		<link rel="stylesheet" href="./css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="./Styles/style.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>


	<body>
		<nav class="navbar navbar-inverse" ng-controller="NavbarController as navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					  </button>
					<span class="navbar-brand">Platti Formis</span>
				</div>
        <div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li ng-class="{active: navbar.isSelected(1)}"><a href="?level=1" ng-click="navbar.selectLevel(1)">Level 1</a></li>
						<li ng-class="{active: navbar.isSelected(2)}"><a href="?level=2" ng-click="navbar.selectLevel(2)">Level 2</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div id="gameDiv" class="container fill" ng-controller="GameController as game" >
			<div class="row">
				<div id="buttonsDiv" class="col-lg-2">
					<button type="button" class="btn btn-default btn-block launch-disabled" ng-click="game.horizontal()">Horizontal Platform</button>
					<button type="button" class="btn btn-default btn-block launch-disabled" ng-click="game.vertical()">Vertical Platform</button>
					<button type="button" class="btn btn-default btn-block launch-disabled" ng-click="game.undo()">Undo</button>
					<button type="button" class="btn btn-default btn-block" ng-click="game.reset()">Reset</button>
					<button id="launchButton" type="button" class="btn btn-default btn-block btn-success" ng-click="game.launch()">Launch !</button>
				</div>
				<div id="canvasDiv" class="col-lg-10">
					<canvas id="canvas"></canvas>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="./Controllers/angular.min.js"></script>        
		<script type="text/javascript" src="./Controllers/jquery.js"></script>
		<script type="text/javascript" src="./Controllers/Box2D.js"></script>
		<!-- <script src="https://code.createjs.com/easeljs-0.8.2.min.js"></script> -->
		<script type="text/javascript" src="./Controllers/engine2.js"></script>
	</body>
</html>
