
html, body {
	height: 100%;
}

#gameDiv {
	width: 100%;
	height: calc(100% - 72px); /* we substract the boostrap navbar height */
	margin-right: 0;
	margin-left: 0;
}

#canvasDiv { 
	height: 100%;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.5);
    padding: 0;
}
#canvas {
	background-color: rgb(42, 48, 56);
}

.row {
	height: 100%;
	margin-right: -5px;
	padding-bottom: 10px;
}

#ballIsOutAlert {
	position: absolute;
	width: 20%;
}