<<<<<<< HEAD
canvas { 
  border: 1px solid black; 
  display: block;
}

html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
=======
canvas, div {
	border: 1px solid black;
}

#stage {
	height: 200px;
>>>>>>> origin/master
}