
/*html, body {
	height: 100vh;
}*/
canvas { 
  border: 1px solid black; 
}


/* Overriding bootsrap */

.container {
	width: 100%;
	height: 100%;
	margin: 0;
}
.col-lg-10 {
	padding: 0;
	height: 100vh;
}